*{
    color: white;
    font-family: 'Athiti', sans-serif;
}
body{
    padding: 0 1.5rem;
    background: #00B3BE;   
}

html{ font-size: 16px; }

a{text-decoration: none;}

h1{
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
}
.top-help-options,.option-links,.body-container,.body-right-form,.form-container,.form-help-options
, .form-shape-container,.form-help-options ul,.box-shadows,.left-components, form, .button, .shape, .header-box,
.botones{
    background: transparent;
    display: flex;
}

.top-help-options, .header-box, .button, .form-container,.form-shape-container, .form-help-options ul{
    align-items: center;
    justify-content: center;
}

.top-help-options{
    height: 15%;
    width: 100%;
    list-style: none;
    gap: 2rem;
}
.header-box{
    gap: 2rem;
    flex-grow: 2;
}
.logo{
    height: 6.5rem;
    width: 6.5rem;
    background: url("/img/Logo.png");
    background-size: cover;
    filter: contrast(1.5);
    border-radius: 50px;
}
.option-links{
    justify-content: right;
    list-style: none;
    font-size: 1.5rem;
    flex-grow: 2;
    gap: 2rem;
}

.option-links a{ text-decoration: none;}

.text-box{
    background: white;
    width: 13.5rem;
    height: 40px;
    border-radius: 45px;
}
.left-components{flex-direction: column;} 

.left-components,.body-right-form, .body-container{
    width: 50%;
    height: 100%;
}
.body-container{ width: 100%; }

.text-titles h1{ font-size: 5rem;}

.text-titles h4{font-size: 2rem;}

.button{
    width: 15rem;
    height: 4rem;
    border: solid 0.3rem #A4E9E5;
    border-radius: 3rem;
    font-size: 2rem;    
    margin-left: 2rem;
}

.register{
    margin-top: 10rem;
    margin-left: 4rem;
    background: radial-gradient(#12A1AA,#21292ba9,#21292b);
}

.products{
    position: relative;
    background: linear-gradient(65deg,#12A1AA,#999c9d);
    border-color: aqua;
    transition: .2s  ease all;
}

.products::before,.products::after{
    content:'';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 105%;
    border-radius: 40px;
    border: 0.3rem solid white;
    top: -5px;
    left: 60%;
    transition: .2s  ease all;
}

.products::after{
    border-color: black;
    z-index: -2;
    left: 58%;
    top: 0;
    filter: blur(2px);
}

.body-right-form{justify-content: center;}

.form-container{
    flex-direction: column;
    height: 65%;
    width: 70%;
    margin-top: 3rem;
    background: #FCFCFC;
    border-radius: 3rem;
    box-shadow:  0 10px 10px 10px rgba(0,0,0,0.4)
}

form{
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    height: 75%;
    width: 90%;
    margin-top: 1rem;
}
form label,p,input{
    color: black;
    font-weight: 400;
    font-size:1.5rem;
}
form input{
    border: none;
    border-bottom: 1px solid black;
    width: 85%;
    height: 2rem;
}
form input:focus{ outline: 0;}

.form-shape-container{
    justify-content: space-evenly;
    width: 100%;
}
.form-shape-container label{
    font-size: 1.6rem;
}
.shape{
    width: 100%;
    justify-content: space-between;
}
.form-shape{
    position: relative;
    width: 4rem;
    height: 4rem;
    background: #00B3BE;
    border-radius:60%;
    transition: .2s  ease all;
}
.form-shape::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 50%;
    background: white;
    border-radius: 50%;
    top: 0.4rem;
    left: 0.4rem;
    transition: .2s  ease all;
}


.form-help-options{
    background: #00B3BE;
    height: 12.5%;
    width: 100%;
    border-radius: 0 0 30px 30px;
}
.form-help-options ul{
    justify-content: space-evenly;
    flex-grow: 1;
    font-size: 1.5rem;
    list-style: none;
}
.btnConfirm{
    background: #12A1AA;
    width: 90%;
    height: 2.5rem;
    border-radius: 30px;
    margin:auto;
    border: none;
    font-size: 1.5rem;
    text-align: center;
}

.box-shadows{
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 2rem;
}
.box-shadows div{
    background: #D9D9D9;
    width: 30%;
    height: 60%;
    border-radius: 30px;
}

.products:hover::after{left: 0;}

.products:hover::before{left: 0;}

.btnConfirm:hover{background-color:  #1c4144;}

.botones{flex-direction: column;}
 
a .ocultar-mostrar{display: none;}
 
@media all and (max-width:1400px){ .form-container{width: 90%;} }

@media all and (max-width:1000px){

    .body-container{flex-direction: column;}

    .left-components,.body-right-form{
        width: 100%;
        align-items: center;
    }
    .button{ margin-left: 0;}

    .products::after, .products::before{ left: 0;}

    .botones{
        gap: 6rem;
        flex-direction: row;
    }

    .botones .register{margin-top: 0;}

    a .ocultar-mostrar{display:block;}

    a span{ display:none;} 

    html{font-size: 12px;}
}
@media all and (max-width:700px){
    .header-box{
        flex-direction: column;
        align-items: flex-end;
        margin-right: 1rem;
    }
    .botones{flex-direction: column;}

    .botones .register{ margin-top: 3rem;}
}
